 @charset "UTF-8";

/* Estilos para o container principal */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

/* Centraliza o título */
header > h1 {
    margin-bottom: 0px;
    font-size: 24px;
    text-align: center;
}

/* Estilos para o nav */
nav {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* Lista de navegação */
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

nav ul li {
    margin: 0 5px;
}

nav ul li a {
    color: black;
    text-decoration: none;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

/* Estilos para telas pequenas como iPhone 12 */
@media (max-width: 390px) {
    /* Centraliza o h1 no topo da tela */
    header {
        flex-direction: column;
        text-align: center;
    }

    /* Garante que os itens do nav fiquem lado a lado */
    nav ul {
        flex-direction: row;
        justify-content: space-around;
    }

    nav ul li a {
        font-size: 14px; /* Ajusta o tamanho do texto do nav */
        padding: 10px;
    }
}
