@charset "UTF-8";

@media screen and (max-width: 768px) {

    @media screen and (max-width: 768px) {
        /* Outros estilos mantidos */
        .outer {
            width: 100%;
            margin-bottom: 10px;
            background-size: cover;
            height: 150px;
            display: flex;
            justify-content: center; /* Centraliza horizontalmente */
            align-items: center; /* Centraliza verticalmente */
            text-align: center; /* Centraliza o texto dentro do inner */
        }
    
        .inner {
            padding: 10px;
            border-radius: 5px;
            width: 100%;
            display: flex;
            justify-content: center; 
            align-items: center;
        }

        div.inner{
            color:black;
            background-color: rgba(0, 0, 0, 0.277);
            font-weight: bolder;
            margin: auto;
            width: 70px;
            height: 100px;
            padding: 10px;
            font-size: 12px;

            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            text-indent: 0px;
           
        }
        
    }
}    
